<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Resultado</title>
    </head>
    <body>
        {{#each data}}
            <section id="mapaCorreo">
                <div id="mapa" style="height: 300px;"></div>
            </section>
            {{#if @key}}
                <h2>{{@key}}</h2>
                <ul>
                    {{#each this}}
                        <li>{{clave}}: {{valor}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </body>
</html>