<main class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-6">
            <section class="card mt-6 px-4 py-5 bg-light border border-3 border-dark rounded">
                <h1 class="title">Not Found</h1>
                <p class="normal my-3">This page does not exists</p>
                <a href="/" class="btn btn-primary">Return to home</a>
            </section>
        </div>
    </div>
</main>