{{> error}}
{{> success}}
{{> navbar}}

<main class="container-fluid px-0">
    <section class="container-fluid my-5 px-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 mt-5">
                <div class="card animate__animated animate__backInUp mt-5 border border-3 border-dark rounded">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <img class="w-100" src="https://media.licdn.com/dms/image/D4E05AQG5BoqZJ9IAlQ/feedshare-thumbnail_720_1280/0/1708119699921?e=1710198000&v=beta&t=lYY4JqfrN0MEywH9fgMlrjJ2A0ZwMDiqFZcC-NIc2o4" alt="Gerente de Proyectos">
                        </div>
                        <div class="col-sm-12 col-md-6 d-flex justify-content-center flex-column align-items-center">
                            <p class="fs-1 fw-bold text-center text-uppercase my-4">Quienes somos</p>
                            <p class="fw-light text-center mx-4">Con 19 años de experiencia en evaluación de terrenos y proyectos inmobiliarios, ofrezco un profundo conocimiento en el análisis de propiedades. Mi enfoque experto garantiza la toma de decisiones informada y estratégica para maximizar el valor de cada proyecto. Descubra cómo mi experiencia puede impulsar el éxito de sus inversiones inmobiliarias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer}}