{{> error}}
{{> success}}
{{> navbar}}

<main class="container my-5 px-4">
    <div class="row justify-content-center align-items-center">
        <section class="col-12">
            <h1 class="title text-light animate__animated animate__backInDown my-5">Resultado de la Evaluacion</h1>
        </section>
        <section class="col-12">
            {{#each this}}
                {{#if evaluacion}}
                    {{#with this.evaluacion}}
                        {{#each this}}
                            {{#if @key}}
                                <table class="table table-data w-75 mx-auto mb-5">
                                    <tbody>
                                        <tr>
                                            <th class="subtitle text-capitalize" colspan="2">{{@key}}</th>
                                        </tr>
                                        {{#each this}}
                                            <tr>
                                                <td class="normal w-50 text-start text-capitalize">{{clave}}</td>
                                                <td class="normal w-50">{{valor}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            {{/if}}
                        {{/each}}
                    {{/with}}
                {{/if}}
                {{#if usuario}}
                    <div class="container text-light">
                        <h3 class="normal lh-lg text-start">Consideraciones:</h3> 
                        <p class="normal lh-lg text-start">1. Para que un proyecto sea viable para un promotor o inversionista, el % minimo  de negociación del margen es 10%.</p>
                        <p class="normal lh-lg text-start">2. Los Valores de ingresos y egresos considerados en la evaluación son referenciales al estándar del mercado.</p>
                        <p class="normal lh-lg text-start">3. Para mayor detalle del valor de su predio, contactenos para poder encontrarle el mejor inversor,  al Telefono 991154824</p>
                    </div>
                {{/if}}
                {{#if imageMapa}}
                    <div class="container pt-3">
                        <h1 class="title text-light my-5">Plano de localización del predio</h1>
                        <div class="text-center">
                            <img src="{{imageMapa}}" alt="Mapa" class="img-fluid border border-dark border-4"/>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </section>
    </div>
</main>

{{> footer}}